<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> 
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

<script>
    function addToCart(productId,quantity=1) {
        
  const data = { product: productId,quantity };
        // const data = { product: productId };
        fetch('/addtocart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            showToast('Product added to cart!');
        })
        .catch((error) => {
            console.error('Error:', error);
            showToast('Failed to add product to cart.', 'error');
        });
    }

    function showToast(message, type = 'success') {
        Toastify({
            text: message,
            duration: 3000,
            close: false,
            gravity: 'bottom', 
            position: 'right', 
            backgroundColor: type === 'success' ? '#28a745' : '#dc3545',
        }).showToast();
    }
</script>


</body>
</html>
