
    <%- include('../layout/header') %>
<!-- navbar -->
<nav class="bg-gray-800">
  <div class="flex items-center justify-between flex-grow md:pl-12 py-5">

    <div class="w-full max-w-xl relative flex">
      <input type="text" name="search" id="search"
             class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none hidden md:flex"
             placeholder="search">
      <button class="bg-red-500 border border-primary text-white px-10 py-2 rounded-r-md hover:bg-transparent hover:text-primary transition hidden md:flex">Search</button>
    </div>

    <div class="flex items-center space-x-4 mr-10">
      <a href="/" class="text-center text-gray-700 hover:text-primary transition relative">
        <div class="text-gray-200 leading-3">Home</div>
      </a>
      <a href="/products" class="text-center text-gray-700 hover:text-primary transition relative">
        <div class="text-gray-200 leading-3">Shop</div>
      </a>
      <a href="#" class="text-center text-gray-700 hover:text-primary transition relative">
        <div class="text-gray-200 leading-3">Wishlist</div>
      </a>
      <a href="/cart" class="text-center text-gray-700 hover:text-primary transition relative">
        <div class="text-gray-200 leading-3">Cart</div>
      </a>
      <a href="/account" class="text-center text-gray-700 hover:text-primary transition relative">
        <div class="text-gray-200 leading-3">Account</div>
      </a>

      <% if(locals.user){   %> 
        <a href="/logout" class="text-center text-gray-700 hover:text-primary transition relative">
          <div class="text-gray-200 leading-3">Logout</div>
        </a>
        <%} else{ %>
        <a href="/login" class="text-center text-gray-700 hover:text-primary transition relative">
          <div class="text-gray-200 leading-3">Login</div>
        </a>
        <a href="/register" class="text-center text-gray-700 hover:text-primary transition relative">
          <div class="text-gray-200 leading-3">Register</div>
        </a>
        <%} %>
    </div>
  </div>
</nav>
<%- include('../layout/footer') %>
