
<%- include('../layout/header') %>

<div class="col-span-3 shadow-lg">
  <div class="px-4 py-3 shadow flex md:flex-col md:items-center h-48 items-center gap-4">
    <div class="flex-shrink-0 mb-4 md:mb-0">
      <%if(user.profileImage){%>
        <img
        id="profileImagePreview"
        src="data:image/jpg;base64, <%= user.profileImage.data.toString('base64') %>"
        alt="profile"
        class="rounded-full w-40 h-40 border border-gray-200 p-1 object-cover"
      />
    <% }else{%>
      <img
      id="profileImagePreview"
      alt="profile"
      src="https://t3.ftcdn.net/jpg/06/11/37/54/360_F_611375400_KdJYN9oP4YL9O6c2oAS5t9ycoRZu4TdL.jpg"
      class="rounded-full w-40 h-40 border border-gray-200 p-1 object-cover"
    />
   <% }%>
    </div>
    <div class="flex-grow text-center md:text-left">
      <p class="text-gray-600">Hello,</p>
      <h4 class="text-gray-800 font-medium"><%= user.username %></h4>
    </div>
  </div>

  <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
    <div class="space-y-1">
      <a
        href="#"
        class="relative text-primary block font-medium capitalize transition"
      >
        <span class="absolute -left-8 top-0 text-base">
          <i class="fa-regular fa-address-card"></i>
        </span>
        Manage account
      </a>
      <a
        href="/account"
        class="relative hover:text-primary block capitalize transition"
      >
        Profile information
      </a>
      <a
        href="/address"
        class="relative hover:text-primary block capitalize transition"
      >
        Manage addresses
      </a>
      <a
        href="/changepassword"
        class="relative hover:text-primary block capitalize transition"
      >
        Change password
      </a>
    </div>

    <div class="space-y-1 pt-4">
      <a
        href="/orderlist"
        class="relative hover:text-primary block font-medium capitalize transition"
      >
        <span class="absolute -left-8 top-0 text-base">
          <i class="fa-solid fa-box-archive"></i>
        </span>
        My order history
      </a>
    </div>

    <div class="space-y-1 pt-4">
      <a
        href="#"
        class="relative hover:text-primary block font-medium capitalize transition"
      >
        <span class="absolute -left-8 top-0 text-base">
          <i class="fa-regular fa-credit-card"></i>
        </span>
        Payment methods
      </a>
      <a
        href="/coupen"
        class="relative hover:text-primary block capitalize transition"
      >
      Coupons 
      </a>
      <a
      href="/wallet"
      class="relative hover:text-primary block capitalize transition"
    >
      Wallet
    </a>
    </div>

    <div class="space-y-1 pt-4">
      <a
        href="/logout"
        class="relative hover:text-primary block font-medium capitalize transition"
      >
        <span class="absolute -left-8 top-0 text-base">
          <i class="fa-regular fa-arrow-right-from-bracket"></i>
        </span>
        Logout
      </a>
    </div>
  </div>
</div>

<%- include('../layout/footer') %>
